createdAt: "2018-05-02T19:03:41.008Z"
updatedAt: "2018-05-02T19:45:30.278Z"
content: '''
  # 许愿墙
  ## 不走出第一步 永远不能抵达
    - 自我认知 确认自己的能力，了解自己无能为力的不足和缺陷
    - 做更值得去做的事情
    - 处事原则
    - 写作
    > - 
    - python
    - 自学方法
    - 做自己的blog
    > wonderwall.top 
    - 成为一个有意思的人
    - 成功讲一场脱口秀
      .
  
  
'''
folder: "d11789b8d1b4e263aa5b"
title: "许愿墙"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
