createdAt: "2018-05-02T19:03:40.983Z"
updatedAt: "2018-03-26T09:13:19.617Z"
content: '''
  ---
  title: categories
  date: 2018-03-26 17:12:16
  type: "categories"
  ---
  
'''
folder: "784af90ce26bdcb031a1"
title: "index"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
